.hotelcards {
  margin: auto;
  width: 80%;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 380px;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 10%;
}

.first {
  /* background-color: yellow; */
  width: 320px;
  height: 380px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first img {
  width: 320px;
  height: 180px;
}

.first h3 {
  font-size: 25px;
}
